snippet var "Variable"
{{ $1 }}$0
endsnippet


snippet fun "Function"
{% $1 %}$0
endsnippet


snippet blo "Block"
{% block $1 %}$0{% endblock %}
endsnippet


snippet ext "Extend"
{% extends '$1' %}$0
endsnippet
