snippet hdoc "Basic HTML document."
<!DOCTYPE html>
<html>
	<head>
		<title>${1:title}</title>
		<meta charset='utf-8'>
	</head>

	<body>
		${0:content}
	</body>
</html>
endsnippet


snippet scr "Script tag."
<script type='text/javascript' src='${1:url}.js'></script>'
endsnippet


snippet sty "Style tag."
<link rel='stylesheet' type='text/css' href='${1:url}.css'>
endsnippet
