snippet if
if (${1:condition})
{
	${0:content}
}
endsnippet


snippet el
else (${1:condition})
{
	${0:content}
}
endsnippet


snippet fu
function ()
{
	${0:content}
}
endsnippet


snippet fun
function ${1:name}
{
	${0:content}
}
endsnippet


snippet fun:
${1:name}: function ()
{
	${0:content}
}
endsnippet