snippet fn "anonymous function" i
function ($1) {
    $0
}
endsnippet

snippet fun "full function"
function $1($2) {
    $0
};
endsnippet

snippet cb "callback based API"
$1($2function ($3) {
    $0
});
endsnippet
