snippet fn "function" i
function $1($2) {
    $0
}
endsnippet

snippet cb "callback based API"
$1($2function ($3) {
    $0
});
endsnippet

snippet cbs "callback based API with string argument"
$1('$2', function ($3) {
    $0
});
endsnippet
