snippet fn "function" i
function $1($2) {
    $0
}
endsnippet

snippet cb "callback based API"
$1($2function ($3) {
    $0
});
endsnippet

snippet < "return"
return $0;
endsnippet

snippet @ "this" i
this
endsnippet

snippet # "prototype" i
prototype
endsnippet
